<h1 mat-dialog-title>Strava API Brand Guidelines Disclaimer</h1>
<div mat-dialog-content>
    <p>
        This is not an official Strava application, it has not been developed by, nor is sponsored or endorsed by Strava.<br>
        The Strava name and logos are all protected by applicable trademark, copyright and intellectual property laws.<br>
        Strava reserves the right to cancel, modify or change these guidelines or the Strava API Agreement at its sole discretion.
    </p>
    <mat-label>Visit the <i>Strava Developers Site</i></mat-label>
    <a href="https://developers.strava.com/"><button mat-icon-button>
        <mat-icon>open_in_new</mat-icon>
      </button></a>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()" class="fadedbutton">Cancel</button>
</div>