<p>
    This is not an official Strava application, it has not been developed by, nor is sponsored or endorsed by Strava.<br>
    The Strava name and logos are all protected by applicable trademark, copyright and intellectual property laws.<br>
    Strava reserves the right to cancel, modify or change these guidelines or the Strava API Agreement at its sole discretion.
</p>
<a href="https://developers.strava.com/">Strava Developers Site</a>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()" class="fadedbutton">Cancel</button>
</div>