.fadedbutton{
    color: grey;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-form-field {
    width: 100%;
  }

mat-button-toggle-group{
    margin: 12px;
}