<h1 mat-dialog-title>Submit a new feature request or report a bug!</h1>
<div mat-dialog-content>
  <mat-label>Feedback type:</mat-label>
  <br>
  <mat-radio-group [(ngModel)]="feedbackForm.feedbackType">
    <mat-radio-button value="feature">New Feature </mat-radio-button>
    <mat-radio-button value="bug">Bug</mat-radio-button>
  </mat-radio-group>
  <br><br>
  <mat-form-field appearance="fill">
    <mat-label>Summary</mat-label>
    <textarea matInput placeholder="Add the title of your feedback" cdkTextareaAutosize maxlength="100"
      [(ngModel)]="feedbackForm.summary">
    </textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Give a bit more detail here" #input cdkTextareaAutosize maxlength="255" cdkAutosizeMinRows="3"
      [(ngModel)]="feedbackForm.description">
    </textarea>
    <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Name (optional)</mat-label>
    <input matInput placeholder="Add your name if you like!" maxlength="20" [(ngModel)]="feedbackForm.name">
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex-container">
  <button mat-button (click)="onCancelClick()" class="fadedbutton">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmitClick()">Submit</button>
</div>