<div class="container">
    <div>
        <br>
        <h2>Welcome to ride every road!</h2>
        <br>
        <p>
            Ever wished you could view all of your strava activities on the same map?<br>
            Make sure you always explore new routes!<br>
            See how much of the map you have covered ...
        </p>
        <br>
        <p>To view all of your strava runs, rides, swims and more:</p> 
        <br>
        <a (click)="startAuthFlow()">
            <img src="assets/ConnectWithStrava.svg">
        </a>
    </div>
    <div>
        <img src="assets/example.png" class="responsive">
    </div>
</div>