<div class="content" role="main">
    <div class="flex-container">
        <div>
            <a class="title" routerLink="/" routerLinkActive="active">
                <h1>{{title}}</h1>
            </a>
        </div>
        <div>
            <button mat-raised-button (click)="openFeedbackDialog()">
                Give Feedback!
            </button>
        </div>
    </div>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div>
                <img src="assets/PoweredByStrava.svg" height="40px" (click)="showStravaDialog()">
            </div>
            <div>
                <a href="https://github.com/adj97/RideEveryRoad">
                    <img src="assets/GitHubRepo.svg" height="40px">
                </a>
            </div>
        </div>
    </footer>
</div>