<div class="content" role="main">

    <nav *ngIf="nav">
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Route: root</a></li>
            <li><a routerLink="/exchange_token" routerLinkActive="active">Route: exchange_token</a></li>
            <li><a routerLink="/map" routerLinkActive="active">Route: map</a></li>
        </ul>
    </nav>
    <h1>{{title}}</h1>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer>
        <a href="https://github.com/adj97/RideEveryRoad" target="_blank" rel="noopener"> GitHub</a>
    </footer>

</div>