<div class="content" role="main">

    <!-- <nav *ngIf="nav">
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Route: root</a></li>
            <li><a routerLink="/exchange_token" routerLinkActive="active">Route: exchange_token</a></li>
            <li><a routerLink="/map" routerLinkActive="active">Route: map</a></li>
        </ul>
    </nav> -->
    <div class="flex-container">
        <div><h1>{{title}}</h1></div>
        <div><button mat-raised-button (click)="openFeedbackDialog()">Give Feedback!</button></div>
      </div>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div>
                <a href="https://developers.strava.com/">
                    <img src="assets/PoweredByStrava.svg" height="40px">
                </a>
            </div>
            <div>
                <a href="https://github.com/adj97/RideEveryRoad">
                    <img src="assets/GitHubRepo.svg" height="40px">
                </a>
            </div>
            <div style="padding-top: 5px; padding-left: 10px; font-size: 10px; width: 700px; line-height: 10px;">
                This is not an official Strava application, it has not been developed by, nor is sponsored or endorsed by Strava.
                The Strava name and logos are all protected by applicable trademark, copyright and other intellectual property laws.
                Strava reserves the right to cancel, modify or change these guidelines or the Strava API Agreement at any time at its sole discretion.
            </div>
        </div>
    </footer>
</div>