name: Test, build and deploy to Azure webapp 

on:
  pull_request:
    types: [opened, edited]

env:
  AZURE_WEBAPP_NAME: RideEveryRoad                       # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: './dist/RideEveryRoad'      # set this to the path to your web app project
  NODE_VERSION: '12.x'                                   # set this to the node version to use

jobs:
  build: 
    name: Test and build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
    - name: Use Node ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build-prod
      env:
        STRAVA_API_CLIENT_ID: ${{ secrets.STRAVA_API_CLIENT_ID }}
        STRAVA_API_CLIENT_SECRET: ${{ secrets.STRAVA_API_CLIENT_SECRET }}
    # - name: Test
    #   run: npm run test:ci
    - name: Archive build
      if: success()
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: dist
    # - name: Archive code coverage result
    #   if: success()
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: coverage
    #     path: coverage
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Download build
        uses: actions/download-artifact@v1
        with:
          name: dist
      - name: 'Deploy to Azure WebApp'
        uses: azure/webapps-deploy@v1
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}